.fade-slide-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}

.fade-slide-up.delay {
    transition-delay: 0.25s;
}

.fade-slide-up.delay_2 {
    transition-delay: 0.5s;
}

.hero-wrapper .fade-slide-up {
    transition-delay: 3s;
}

.hero-wrapper .fade-slide-up.delay {
    transition-delay: 3.25s;
}


.hero-wrapper .fade-slide-up.delay_2 {
    transition-delay: 3.5s;
}

.fade-slide-up.in-view {
    opacity: 1;
    transform: translateY(0);
}

@media (orientation: landscape) {
    .scale-down {
        opacity: 0;
        height: 80vh;
        transition: opacity 0.75s ease-in-out, height 2.5s ease-in-out 0.75s;

        &.in-view {
            opacity: 1;
            height: 10rem;
        }
    }
}


@media (orientation: portrait) {
    .scale-down {
        opacity: 0;
        width: 80vw;
        transition: opacity 0.75s ease-in-out, width 2.5s ease-in-out 0.75s;

        &.in-view {
            opacity: 1;
            width: 10rem;
        }
    }
}