
@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

@import "typography.scss";
@import "hero.scss";
@import "animation.scss";

html {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.object-cover {
  font-family: 'object-fit: cover;';
}